/* 
- optomize img iteration, add content for main
- See if Media Query in JS works
- Add transition and animation buttons
- Image Iteration w/ arrows
- Background image requirement

*/

*{
    --white-rock: #ffffff;
    --gray: #808080;
    --green-tasman: #b9ddb9;
    --green-pale: #84b684;
    --green-envy: #608b60;
    --font: helvetica;
}
body{
    background-color: var(--white-rock);
    margin: 0;
    font-family: var(--font);

    display: grid;
    grid-template-columns: 50px .5fr .4fr 3fr 3fr;
    grid-template-rows: 15vh 5vh 70vh 10vh;
}
a {
    text-decoration: none;
}
/* extra  */

/* @media (min-width) */
 

/* main */
header{
    background: rgb(96,139,96);
    background: linear-gradient(0deg, rgba(96,139,96,1) 0%, rgba(132,182,132,1) 61%);
    margin: 0;
    width: 100vw;

    grid-column: 1/-1;

    /* cntr -a- tag */
    display: flex;
}
header a {
    text-decoration: none;
    color: black;

    display: grid;
    grid-template-columns: 8vw 50vw;
    justify-content: start;
    align-items: center;
}
header h1{
    position: relative;
    margin: 0;
    width: 600px;
    left: 70px;
    text-shadow: 1px 2px 2px white;
}
header img{
    width: 70px;
    transform: rotate(45deg);
    
    justify-self: center;
}

.nav_button{
    border: none;
    width: 20px;
    background: none;
    z-index: 2;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 130px;
    left: 15px;
    transition-duration: .3s;
}
.nav_button:hover.show{
    transform: rotate(-90deg);
}
.nav_button.hide{
    transform: rotate(-90deg);
}
.nav_menu_img {
    width: 20px;
}

nav{
    background-color: var(--green-pale);
    user-select: none;
    transition-duration: .3s;

    grid-column: 1/4;
    grid-row: 2/4;

    display: flex;
    justify-content: center;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: inherit;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
nav a{
    position: relative;
    width: 214px;
}
nav ul li{
    border: 2px solid;
    background-color: #b0dea8;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    transition: all .3s;
}
nav ul a:hover li{
    background-color: var(--green-tasman);
    color: var(--gray);
}
ul a li::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 30px;
    right: -20px;
}
ul a:hover li{
    padding-right: 25px;
}
ul a:hover li::after{
    opacity: 1;
    right: 15px;
}
nav ul a{
    text-decoration: none;
    color: black;
}

main{
    grid-column: 4/-1;
    grid-row: 2/4;

    /* children */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.wrapper.article {
    margin: 10px;

    grid-column: 1/-1;
}
.wrapper.article h2 {
    margin: 0;
}
.wrapper.article h3{
    margin: 10px;
}
.wrapper.article ol li{
    font-weight: normal;
}
.wrapper.article p{
    margin: 10px;
}
.wrapper.article span {
    font-weight: bolder;
}
.wrapper li{
    font-weight: bold;
}
#imgIteration{
    margin: 0;
    height: inherit;
    object-fit: none;
    position: relative;
    background-image: url('media/bacteriophage-vs-bacterium-755x1024.png');
    background-size: cover;
    z-index: 1;
    transition: 0.5s;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#imgIteration button{
    opacity: 0.5;
    background-color: var(--green-tasman);
    border: none;
    cursor: pointer;
    margin: 0;
}
dl dt {
    font-weight: bold;
}
dl dd {
    max-width: 750px;
}
form {
    border: 2px solid var(--green-envy);
    padding: 10px;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input {
    font-family: var(--font);
}
form textarea {
    max-width: 400px;
    resize: vertical;
    max-height: 600px;
    font-family: var(--font);
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid var(--green-envy);
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: var(--green-tasman);
}


footer{
    background: var(--green-envy);
    /* background: linear-gradient(0deg, rgba(132,182,132,1) 0%, rgba(96,139,96,1) 62%); */
    font-style: italic;
    text-align: center;
    padding: 10px;

    grid-column: 1/-1;
    grid-row: 4/-1;
}

